[submodule "GeneticLib"]
	path = GeneticLib
	url = https://github.com/TermanEmil/GeneticLib.git
[submodule "MachineLearningPyGraphUtils"]
	path = MachineLearningPyGraphUtils
	url = https://github.com/TermanEmil/MachineLearningPyGraphUtils.git
